body {
  font-family: Arial, sans-serif;
  background-color:  #24242c;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  max-width: 80%;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #333;
  font-size: 36px;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

#canvas {
  display: block;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#palabra {
  font-size: 1.5em;
  margin: 10px 0;
}

#oportunidades {
  font-size: 1.5em;
  margin: 10px 0;
}

#mensajeFinal {
  font-size: 1.5em;
  margin: 10px 0;
}

#letrasUsadas {
  font-size: 1.5em;
  margin: 10px 0;
}

.boton {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #3b58e3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.botonReiniciar {
  margin: 5px;
  padding: 10px 40%;
  font-size: 16px;
  border: none;
  background-color: #3b58e3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.boton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.boton:hover {
  background-color: #0056b3;
}

#letrasDisponibles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#paginaInicio {
  display: none;
  text-align: center;
}

#reiniciarBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  display: block; 
}

#reiniciarBtn:hover {
  background-color: #555; 
}
